<div class="container">
  <h3>Select Quotes to Add</h3>
  <div class="row">
    <div class="col-md col-sm">
      <div *ngFor="let quote of quotesForSelection" class="border border-primary" style="background-color: black; color: white; margin: 5px; padding: 5px;">
          {{quote.answer}}<br>
          <button class="btn btn-primary" (click)="addQuote(quote)">Add</button>
      </div>
      <!-- <table class="table table-bordered" style="font-size: 18px !important;">
        <tbody>
            <tr>
              <th>Quote Text</th>
            </tr>
            <tr *ngFor="let quote of quotesForSelection">
              <td>{{quote.answer}}<br><button class="btn btn-primary" (click)="addQuote(quote)">Add</button></td>
            </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
