<div *ngIf="searching" class="container">
  <div class="row mt-5">
    <div class="col-md col-lg col-sm" style="text-align: center;">
      <h2>{{searchingMessage}}</h2><img src="assets/ajax-loader.gif" />
    </div>
  </div>
</div>
<div *ngIf="!searching" class="container" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
  <div class="row">
    <div class="col-md col-lg col-sm" style="text-align: center;">
      <p class="psg-nav">
        <a (click)="prev()">
          <i class="fa fa-arrow-left" style="color: lightgreen;"></i>
        </a>&nbsp;
        <a (click)="next()">
          <i class="fa fa-arrow-right" style="color: lightgreen;"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md col-lg col-sm">
      <div *ngIf="!searching" [@newPassage]="passageRef" (@newPassage.done)="logIt($event, 'passageRef')" class="nugget-view" [innerHTML]="passageRef" style="text-align: center;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md col-lg col-sm">
      <hr style="color: white !important; background: white;"/>
      <div [@newPassage]="formattedPassageText" (@newPassage.done)="logIt($event, 'passageText')" class="nugget-view" [innerHTML]="formattedPassageText" style="text-align: center;"></div>
    </div>
  </div>
</div>
